@font-face {
    font-family: 'HeadlinerNo45';
    src: url('../fonts/headlinerno45.ttf') format('truetype');
}

@font-face {
    font-family: 'ForbiddenStars';
    src: url('../fonts/forbiddenstars.ttf') format('truetype');
}

@font-face {
    font-family: 'FrizQuadrataStd';
    src: url('../fonts/frizquadratastd.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#faction-tabs {
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: left;
}

#tab-contents {
    margin-top: 60px;  /* Adjust this value based on your header height */
    width: 1420px;
}

.tab-header, .sub-tab-header {
    font-family: 'HeadlinerNo45';
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    background-color: #ddd;
    margin-right: 5px;
}
.sub-tab-header
{
    margin-bottom: 30px;
}
.tab-header.active, .sub-tab-header.active {
    background-color: #fff;
    box-shadow: 0 0 30px #f80;
}
.tab-content, .sub-tab-content {
    display: none;
}
.tab-content.active, .sub-tab-content.active {
    display: block;
}
.grid {
	display: grid;
	gap: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}
.grid.events {
	grid-template-columns: repeat(4, 1fr);
    background-color: rgb(163, 163, 163);
    gap: 5px 5px;
    width: 1835px;
}

.grid.orders {
    background-color: #aaa;
}

.grid.combat.s-section {
    background-color: #090;
}

.grid.combat.t1-section {
    background-color: #990;
}

.grid.combat.t2-section {
    background-color:#950;
}

.grid.combat.t3-section {
    background-color: #900;
}

